* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root */
body {
  font-family: Arial, sans-serif;
  color: #0f1117;
  background-color: #e2e8f0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: large;
}
